.adoptados {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .adoptados2 {
        gap: 1rem;
        display: flex;
        width: 100%;
        padding-bottom: 2rem;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        > img {
            border-radius: 1.25rem;
            width: 20%;
            box-shadow: $shadowImages;

            @include mediaquery (991px) {
                width: 40%;
            }

            @include mediaquery (695px) { 
                width: 80%;
            }
        }
    }
}