.curioso {
    @include flex-center;
    width: 100%;

    img {
        width: 40%;
        -webkit-animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both;
    }
}

.formulario {
    font-weight: 400;
    background: rgb(255,226,216);
    background: linear-gradient(146deg, rgba(255,226,216,1) 0%, rgba(232,169,169,1) 100%);    
    padding: 2rem;
    border-radius: 1.25rem;
    border: solid 1px $buttonPurple;
    -webkit-animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both;animation:slide-in-bottom 1s cubic-bezier(.25,.46,.45,.94) both;

    div {
        .motivo {
            margin-top: 1rem;
        }
    
        button {
            color: $buttonPurple;
            margin: 0.5rem;
        }
    }
}