@import url('https://fonts.googleapis.com/css2?family=Federant&family=Raleway:wght@200;300;400;500;600;700&display=swap');

$fontTexto: 'Raleway', sans-serif;
$fontTitulos: 'Federant', cursive;
$mainPinkColor: #ffe2d8;
$secondaryPinkColor: #e8a9a9;
$titlesBlueColor: #46458C;
$secondBlueColor: #090580;
$buttonPurple: #441444;
$buttonHover: #ffffff;
$shadowImages: #00000029 0px 3px 6px, #0000003b 0px 3px 6px; 
$footer: #cec9c9;
